a:hover {
  text-decoration: none;
}

.search-input {
  background-color: #f1f3f4;
  border: none;
  outline: none;
  padding: 0.6rem 2.5rem;
  border-radius: 0.4rem;
  width: 54rem;
  height: 4rem;
}

.search-input:focus {
  -webkit-box-shadow: 0px 5px 6px -6px rgba(0, 0, 0, 0.82);
  box-shadow: 0px 5px 6px -8px rgba(0, 0, 0, 0.82);
}

.input-group {
  position: relative;
  font-size: 1.2rem;
}

.fa-search {
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  color: #5f6368;
}

.user-img {
  height: 2.5rem;
}

.right-icons i {
  color: #5f6368;
  font-size: 1.5rem;
}

.new-btn {
  width: 9rem;
  box-shadow: -1px 0px 10px -5px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -1px 0px 10px -5px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 0px 10px -5px rgba(0, 0, 0, 0.44);
  border-radius: 4rem;
}

.new-btn h5,
.left-bar-btn i,
.left-bar-btn h5,
.drive-list a,
.quick-access p {
  color: #75787a;
}

.dropdown-btn {
  font-size: 1.5rem;
}

.drive-list a {
  font-size: 1.5rem;
}

.card h5 {
  color: #474747;
}

.fa-stream {
  color: #4285f4;
}

.fa-image {
  color: #d93126;
}

.storage {
  font-size: 2.5rem;
  color: #75787a;
}

.storage i {
  font-size: 1.5rem;
}

.progress {
  width: 90%;
}

.storage_text {
  font-size: 1.1rem;
  padding-top: 0.5rem;
}

.storage-btn {
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 640;
  text-align: center;
  padding: 5px 15px;
  border: 0.1rem solid gainsboro;
  color: #4285f4;
  border-radius: 0.3rem;
}
